<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
</head>
<body>
<nav class="sidebar">
    <a href="/home" class="brand">Drawings</a>
    <a href="/gallery">Gallery</a>
    <a href="/pub_gallery">Public Gallery</a>
    <a href="/trash">bin</a>
    <a href="/logout">Logout</a>
</nav>

<div th:each="drawing : ${draws}">
    <h3 th:text="${drawing.title()}">Título del Dibujo</h3>
    <p>Última Versión: <span th:text="${drawing.latest_version_number()}">1</span></p>

    <a th:href="@{/view/{id}(id=${drawing.id()})}">Ver Dibujo</a>

    <a th:if="${drawing.can_edit()}"
       th:href="@{/draw/{id}(id=${drawing.id()})}">
        Editar
    </a>

    <a th:href="@{/gallery/trash/{id}(id=${drawing.id()})}"
       onclick="return confirm('¿Está seguro de que desea enviar este dibujo a la papelera?');">
        Papelera
    </a>

    <a th:href="@{/draw/share/{id}(id=${drawing.id()})}">
        Compartir
    </a>
</div>
</body>
</html>