<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="sidebar">
    <a href="/home" class="brand">Drawings</a>
    <a href="/gallery">Gallery</a>
    <a href="/pub_gallery">Public Gallery</a>
    <a href="/trash">bin</a>
    <a href="/logout">Logout</a>
</nav>
<div th:each="drawing : ${draws}">
    <h3 th:text="${drawing.title()}">Título del Dibujo</h3>
    <p>Última Versión: <span th:text="${drawing.latest_version_number()}">1</span></p>
    <p th:text="${drawing.draw_content()}"></p>
    galerypub
</div>
</body>
</html>