<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>HOla mundo</h1>
<form action="/register" method="post">
    <input type="text" name="name" placeholder="Name"></input>
    <input type="text" name="password" placeholder="Password"></input>
    <input type="text" name="username" placeholder="Username"></input>
    <button type="submit">Register</button>
</form>
<form action="/login" method="post">
    <input type="text" name="password" placeholder="Password"></input>
    <input type="text" name="username" placeholder="Username"></input>
    <button type="submit">Register</button>
</form>
</body>
</html>