<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/gallery.css">
</head>
<body>
<nav class="sidebar">
    <a href="/draw/new" class="brand">Drawings</a>
    <a href="/gallery/private">Gallery</a>
    <a href="/gallery/public">Public Gallery</a>
    <a href="/gallery/trash">bin</a>
    <a href="/logout">Logout</a>
</nav>
<div th:each="drawing : ${trashed_draws}">
    <h3 th:text="${drawing.title()}">Título del Dibujo</h3>
    <p>Author: <span th:text="${username}">1</span></p>
    <a th:href="@{/trash/delete/{id}(id=${drawing.id()})}"
       onclick="return confirm('¿Estás seguro de que quieres eliminar este dibujo permanentemente? Esta acción no se puede deshacer.');">
        Eliminar Permanentemente
    </a>
    <a th:href="@{/trash/rescue/{id}(id=${drawing.id()})}">
        Restaurar Dibujo
    </a>
</div>

</body>
</html>